<!-- nome da task
descrição da task
responsavel da task
data de criação
data de termino -->

<div class="container">
<form method="POST">
Task <input type="text" name="Task"><br>
descrição da task <input type="text" name="descrição da task"><br>
responsavel da task <input type="text" name="responsavel da task"><br>
data de criação <input type="text" name="data de criação"><br>
data de termino <input type="text" name="data de termino"><br>
    <input type="submit" name="Cancelar">
    <input type="submit" name="Cadastrar">
</form>



</div>