<div class="container">

<div class="foto_1"><img src="./assets/pucca.png" class="img"></div>
<div class="foto_1"><img src="./assets/luffy.png" class="img"></div>
<div class="foto_1"><img src="./assets/bidu.png" class="img"></div>
<div class="foto_1"><img src="./assets/cebolinha.png" class="img"></div>
<div class="foto_1"><img src="./assets/cj.png" class="img"></div>
<div class="foto_1"><img src="./assets/magali.png" class="img"></div>
<div class="foto_1"><img src="./assets/kuromi.png" class="img"></div>
<div class="foto_1"><img src="./assets/moranguinho.png" class="img"></div>
<div class="foto_1"><img src="./assets/melody.png" class="img"></div>
</div>