.container{
    border: 2px solid black;
    border-radius: 15px;
    margin: 80vw;
    height: 100vh;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background: rgb(197, 192, 192);
}


.foto_1{
    background: linear-gradient(60deg, #8A2BE5, #3C00F3);
    display: flex ; 
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000068;
}

img{
    width: 230px;
    height: 230px;
    border-radius: 10px;

}